<footer>
  <div class="footer-wave"></div>
  <div class="container">
    <div class="footer-content">
      <div class="footer-column">
        <h3>IT Support</h3>
        <p>Providing top-notch IT solutions and support services to help your business thrive in the digital world.</p>
        <div class="footer-social">
          <a href="https://www.facebook.com/abdo.alkang.77?mibextid=ZbWKwL" target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
          <a href="https://github.com/Abdelrahman2264" target="_blank" rel="noopener"><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/abd-el-rahman-khalaf-81063a30b/" target="_blank" rel="noopener"><i class="fab fa-linkedin-in"></i></a>
          <a href="https://www.instagram.com/abdelrahmanmahran1?igsh=czBoOW55aGlocnhx" target="_blank" rel="noopener"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <div class="footer-column">
        <h3>Quick Links</h3>
        <ul>
          <li><a routerLink="/"><i class="fas fa-chevron-right"></i> Home</a></li>
          <li><a routerLink="/about"><i class="fas fa-chevron-right"></i> About Us</a></li>
          <li><a routerLink="/services"><i class="fas fa-chevron-right"></i> Services</a></li>
          <li><a routerLink="/contact"><i class="fas fa-chevron-right"></i> Contact</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Support</h3>
        <ul>
          <li><a routerLink="/help-center"><i class="fas fa-chevron-right"></i> Help Center</a></li>
          <li><a routerLink="/documentation"><i class="fas fa-chevron-right"></i> Documentation</a></li>
          <li><a routerLink="/system-status"><i class="fas fa-chevron-right"></i> System Status</a></li>
          <li><a routerLink="/submit-ticket"><i class="fas fa-chevron-right"></i> Submit Ticket</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Contact Us</h3>
        <ul>
          <li><a href="#"><i class="fas fa-map-marker-alt"></i>Alexandria, Free Zone , AlexApprales</a></li>
          <li><a href="tel:+1234567890"><i class="fas fa-phone-alt"></i>Fiber Me 111 Or 119</a></li>
          <li><a href="mailto:help.d@alpinecreations.com"><i class="fas fa-envelope"></i> help.d@alpinecreations.com</a></li>
        </ul>
      </div>
    </div>
    <div class="copyright">
      &copy; {{ currentYear }} IT Support Ticketing System Developed By Abd EL-Rahman Khalaf. All rights reserved.
    </div>
  </div>
</footer>